{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Myblog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="sticky-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-white px-sm-4">
            <img src="{% static 'images/logo.png' %}" alt="logo" class="col-3 col-md-2 col-lg-1 px-1 mx-5" style="margin: 3px;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/aboutme">About Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0 px-lg-5 px-3" action="{% url 'search' %}">
                <input class="form-control mr-sm-2" name="keyword" type="search" placeholder="サイト内検索" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            </div>
        </nav>
    </header>
    <div class="main bg-light">
        <div class="container">
            <div class="intro row justify-content-center">
                <div class="row justify-content-center col-7">
                    <img src="{% static 'images/titlelogo.png' %}" alt="logo" class="col-sm-9 col-md-7 col-10 pt-5 pb-3">
                    <h5 class="text-center pb-4">〜理系大学生のアウトプットブログ〜</h5>
                </div>
                
            </div>
            <div class="row">
                <div class="blog col-lg-9 px-2 pb-4">
                    {% block content %}
                    {% endblock %}
                </div>
                <div class="sub col-lg-3 px-0 px-lg-2">
                    <div class="subcontents text-center">
                        <div class="profile bg-white pt-3 mb-4 px-1 border">
                            <h3 class="pb-2"> ~ profile ~ </h3>
                            <div class="row">
                                <div class="col-lg-12 col-5">
                                    <img src="{% static 'images/Mypicture.png' %}" width="65%">
                                    <h4 class="pt-3">SHOHEI</h4>
                                </div>
                                <div class="col-lg-12 col-7">
                                    <p>
                                        こんにちは Shoheiです
                                        <br>
                                        大学1年で経営工学を学んでいます<br>
                                        データサイエンスやプログラミングに興味を持ち独学しています．<br>
                                        趣味は音楽や旅をすることで,このブログではプログラミングや旅に関することを記事にしていきます．
                                    </p>
                                    <p class="text-right"><a href="/aboutme">read more</a></p>
                                </div>                          
                            </div>    
                        </div>
                        <div class="recently bg-white my-4 p-1 border">
                            <h3>~ <small>最近の記事</small> ~</h3>
                            <div class="contents text-center my-3 py-4">
                                {% for post in newer_posts %}
                                    <a href="{% url 'post_detail' pk=post.pk %}"><p class="p-1 border">{{ post.title }}</p></a>
                                {% endfor %}
                            </div>

                        </div>
                        <div class="category bg-white my-4 p-1 border">
                            <h3>~ Category ~</h3>
                            <div class="contents text-center my-3 py-4">
                                {% for category in category_list %}
                                <a href="{% url 'category' category %}">
                                    <p class="p-1 border">
                                        {{ category.name }}
                                    </p>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                        <!--
                        <div class="tag bg-white my-4 p-1 border">
                            <h3>~ Tag ~</h3>
                            <div class="contents text-center my-3 py-4">
                                {% for tag in tag_list %}
                                <a href="{% url 'tag' tag %}">
                                    <p class="p-1 border">
                                        {{ tag.name }}
                                    </p>
                                </a>
                                {% endfor %}
                            </div>
                            -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    <footer>
        <div class="row justify-content-center">
            <img src="{% static 'images/footer-logo.png' %}" alt="footer-logo" class="col-md-2 col-4 mt-3 mx-3 mb-1">
        </div>
        
        <p class="text-right px-4 py-2 mx-3 text-white">©️ 2021  翔け鳥(KAKEDORI)</p>
    </footer>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>


