@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}

.title{
    font-size: 25px;
}

.blog-card{
    background-color: rgb(235, 241, 253);
    border-radius: 3px;
    border: 1px solid;
    border-color: rgba(158, 158, 158, 0.25);
}

.blog-card:hover{
    transform: translate(0, -5px);
    box-shadow: 0px 8px 16px rgb(158, 158, 158);
}

footer{
    background-color: rgb(4, 4, 78);
}